<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Funcionario</title>
</head>
<body>

	<h1>Cadastro de Funcionario</h1>
	
	<form action="chamadaservlet" method="post">
		Nome: <input type="text" name="txtnome" autocomplete="off"><br><br>
		Cargo: <input type="text" name="txtcargo" autocomplete="off"><br><br>
		Salario: <input type="text" name="txtsalario" autocomplete="off"><br><br>
		<input type="hidden" name="acao" value="cadastro">
		<input type="submit" value="Cadastrar Funcionario">
	</form>

</body>
</html>






