<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro Produto</title>
</head>
<body>

	<h1>Cadastro de Produto</h1>
	
	<form action="chamadaservlet" method="post">
		Nome: <input type="text" name="txtnome" autocomplete="off"><br><br>
		Descrição: <input type="text" name="txtdescricao" autocomplete="off"><br><br>
		Preço: <input type="text" name="txtpreco" autocomplete="off"><br><br>
		<input type="hidden" name="acao" value="cadastroproduto">
		<input type="submit" value="Cadastrar Produto">
	</form>

</body>
</html>






