<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Cadastro de Pedido</title>
</head>
<body>

    <h1>Cadastro de Pedido</h1>
    
    <form action="chamadaservlet" method="post">
        IdProduto: <input type="text" name="txtidProduto" autocomplete="off"><br><br>
        Quantidade: <input type="text" name="txtquantidade" autocomplete="off"><br><br>
        <input type="hidden" name="acao" value="cadastropedido">
        <input type="submit" value="Cadastrar Pedido">
    </form>

</body>
</html>







